[Desktop Entry]
Comment[en_US]=Installer LangitKetujuh OS
Comment[id]=Pemasang LangitKetujuh OS
Comment=Installer LangitKetujuh OS
Exec=doas langitketujuh-install
GenericName[en_US]=Installer LangitKetujuh OS
GenericName[id]=Pemasang LangitKetujuh OS
GenericName=Installer LangitKetujuh OS
Icon=system-installer
Name[en_US]=Install to Disk
Name[id]=Pasang ke Diska
Name=Install to Disk
NoDisplay=false
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
Categories=Qt;KDE;System;LangitKetujuh;
X-KDE-SubstituteUID=false
X-KDE-Username=
