<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public-key</key>
	<data>LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQm9qQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FZOEFNSUlCaWdLQ0FZRUFxcTNDbmg1dVh4YUhVSWg3K3BGdgpTbUhBZUlSNTBSNThkV3RTUkFnS0dUK1hHZVpsQ3JVNEx3emZCSUxSaVNZVFp6WHcxY2tKaTI0bnFBVTZCRWJoCkx2bTNXUlBQUjA5ZEZ6ZEtPNmE0a3NhWHl5bnR5dzJMUVpHS0pUc0pBNEErQjJVQzh3SUtrUzNMRXFpaUt1eFQKZURLVzZqWkJhZVB4UzFlb01Ec2JvZ3FFTHBSaEQ3aHIvTFE2ZmlRRDd0N0lGN2E4MDhoMWFKeWFzWG9qdmc5aAo5QWRkem5sWkYrMVppZ0t1Q3ltakwyYWY0Z0xkejdkaEM0dFl1UmM5YWZCRWRlUmJ6c2M3QVovSWdKd3VBRHFwCkNPRHp6UDlBVjRzdGd6NEhkY3dFd1FUTWcyaUZ2ZkY4VjR5emowVktMVklyOXVmM0t6UnlRWGVxUmR6SlNIL3AKL05hc1NrZS9TM3lJUjdpdTVjS3AxT2s0N2ZSS2tsMUtVQnB1Rmc3UWhXbXlTbWJRUFJjQnFNK1lhL3ozOE85eApTZWN2cmEyWFZ2cXhBcVVMTFNpWXhpNlkxcFVaak5RS3puRklNeHErOEpSVVo0dkEyQ2FYbERNVXJ1c3JyUWxiClFLbUphK3pmOWlVUUpVVkUwMENjYi8rOFpOMDlLVm1peU84LzNQQ3NyTHRmQWdNQkFBRT0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==</data>
	<key>public-key-size</key>
	<integer>3072</integer>
	<key>signature-by</key>
	<string>LangitKetujuh Linux</string>
</dict>
</plist>
